* {
    margin:0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;

    /* outline: 1px solid rgb(53, 173, 59); */
}


/* modify scrollbar on firefox */
* {
    scrollbar-width:thin;
  }
  
/* modify scrollbar on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }
  
  *::-webkit-scrollbar-track {
    background: #000;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #999;
  }
/* End of scrollbar modification */


body {
    background-color: #222;
}


.header {
    width: 100vw;
    height: 100px;
    background-color: #000;
    position: fixed;
    display: flex;
    z-index: 999;
}

.header-left {
    width: 55vw;
    height: 100%;
    display: flex;
    align-items: center;
}

.myname-a {
    width: 100%;
    height: fit-content;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 800;
    font-size: 40px;
    text-overflow: ellipsis;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 30px;
    color: #FFFFFF;
}

.logo-container-a {
    display: flex;
    width: 100px;
    height: fit-content;
    align-items: center;
    justify-content: center;
    background-color: #000;
    margin: 0 20px;
}

.logo-img {
    width: 100px;
}

.header-right {
    width: 45vw;
    height: 100%;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.nav-item-a {
    margin-left: 12px;
    padding: 5px 5px;
    text-align: center;
    color: #fff;
    width: 95px;
    height: fit-content;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 1px 2px 2px #fff;
    display: block;
}

.nav-item-a:hover {
    background-color: #fff;
    color: #000;
    box-shadow: 1px 2px 2px #ff0000;
}

/* #nav-item-a-current {
    background-color: #fff;
    color: #000;
    box-shadow: 1px 2px 2px #00ff00;
} */

.main-container-div {
    width: 100vw;
    min-height: calc(100vh - 180px);
    max-height: fit-content;
    background: none;
    padding-top: 100px;
    /* #1C2833 */
}

/* quote  */

.quote-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
    text-align: center;
    min-height: 150px;
}

.quote {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 1.4rem;
}

/* go to work div 
    NOTE: its top must match the element before it, which is here quote container */

.go-to-Work {
    position: absolute;
    top: 150px;
    width: 100%;
    height: 0px;
    z-index: -1;
}

/* work title start */

.section-title-container {
    height: fit-content;
    display: flex;
    align-items: baseline;
    justify-content: center;
    float: left;
    width: 100vw;
    padding: 10px 0 10px;
    background: none;
}

.left-line {
    background-color: #fff;
    width: 46vw;
    height: 4px;
}

.middle-line {
    min-width: fit-content;
    height: fit-content;
    margin: 0 8px;
}

.title-text {
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    text-align: center;
}

.right-line {
    background-color: #fff;
    width: 46vw;
    height: 4px;
}

/* work title end */


/* projects layout */

.projecs-layout-container {
    min-width: 100vw;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background: none;
}

.project-box {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    min-width: 49vw;
    height: fit-content;
    margin: 10px;
    background-color: #111;
    border: 1px solid #fff;
    box-shadow: 0px 0px 10px #000;
}

.project-img {
    width: 100%;
}

.project-title {
    position: absolute;
    top: 5%;
    bottom: auto;
    word-wrap: break-word;
    width: 98%;
    height: 25%;
    text-align: center;
    color: #fff;
    font-size: 2vw;
    opacity: 0;
}

.project-summary {
    position: absolute;
    top: 30%;
    bottom: auto;
    margin-top: 10px;
    margin-left: 15px;
    word-wrap: break-word;
    width: 98%;
    height: 50%;
    color: #fff;
    opacity: 0;
    line-height: 1.5;
}

.open-project {
    position: absolute;
    top: auto;
    bottom: 0;
    margin-bottom: 10px;
    padding: 5px 5px;
    text-align: center;
    color: #fff;
    width: 95px;
    height: fit-content;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 1px 2px 2px #fff;
    background-color: #1C2833;
    opacity: 0.4;
}

/* hover effect for project box  */

.project-box:hover h2 {
    opacity: 1;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: 0.5s;
}

.project-box:hover h3 {
    opacity: 1;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: 0.5s;
}

.project-box:hover span {
    opacity: 1;
}

.project-box:hover img {
    opacity: 0.1;
    transition: 0.5s;
}

.open-project:hover {
    background-color: #fff;
    color: #000;
    transition: 0.5s;
    box-shadow: 1px 2px 2px #ff0000;
} 
/* end of hover effect for project box  */

.go-to-about {
    width: 100%;
    position: relative;
    bottom: 95px;
    z-index: -1;
}

.about-container {
    display: block;
    min-width: 49vw;
    height: fit-content;
    min-height: 450px;
    margin: 5px;
    padding: 10px;
    background-color: #111;
    border: 1px solid #333;
    box-shadow: 0px 0px 10px #000;
}

.about-title,
.about-topic,
.about-details {
    color: #fff;
    margin: 10px;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}

.about-title {
    font-size: 35px;
}

.about-details {
    color: #fff;
    margin: 10px;
    margin-top: 20px;
    padding-left: 10px;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}

.resumes-btns-container {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: fit-content;
    padding-left: 250px;
    margin-top: 12px;
}

.resume-btn {
    cursor: pointer;
    margin-left: 12px;
    padding: 5px 5px;
    text-align: center;
    color: #fff;
    background-color: #000;
    width: 95px;
    height: fit-content;
    border: 1px solid #FFFFFF;
    display: block;
    border-radius: 20px;
}

.resume-btn:hover {
    background-color: #fff;
    color: #000;
    border: 0.2px solid #ff0000;
}

.about-links {
    color: #ff7777;
}

.about-links:hover {
    color: #ff0000;
}


/* footer */
.footer {
    bottom: 0;
    width: 100vw;
    height: 80px;
    background-color: #000;
    z-index: 999;
    margin-top: 10px;
}

.footer-div {
    height: 100%;
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
}

.footer-middle {
    width: 60%;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.copyright {
    margin-bottom: 5px;
    min-width: max-content;
}

.footer-left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.footer-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.linkedin-a .linkedin-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: fit-content;
}

.coffee-a .coffee-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: fit-content;
}

/* undisplayed item from mobile view */

.btn-burger-open {
    display: none;
}

.btn-burger-menu {
    display: none;
}

.mobile-menu-container .nav-item-a-mobile {
    display: none;
}


@media only screen and (max-width: 975px) {

    /* hide scrollbar on Firefox */
    html {
        scrollbar-width: none;
    }

    /* hide scrollbar on Chrom & Opera */
    *::-webkit-scrollbar {
        display: none;
        width: 0px;
    }


    .header-left {
        width: 80vw;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .logo-container-a {
        display: flex;
        width: 90px;
        height: fit-content;
        align-items: center;
        justify-content: center;
        background-color: #000;
        margin: 0 5px;
    }

    .logo-img {
        width: 90px;
    }

    .myname-a {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 5vw;
        margin-left: 4px;
    }

    .header-right {
        width: 20vw;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 10px;
    }

    .nav-item-a {
        display: none;
    }

    #mobile-menu {
        align-items: center;
        justify-content: center;
        padding: 10px 0;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        min-height: calc(100vh - 200px);
        max-height: fit-content;
        /* make it scrollable */
        top: 100px;
        bottom: 100px;
        overflow-y: auto;
        overflow: auto;
        z-index: 999;
    }

    .mobile-menu-container .nav-item-a-mobile {
        width: 120px;
        padding: 7px 10px;
        margin: auto auto;
        margin-top: 30px;
        text-align: center;
        color: #fff;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 1px 2px 2px #fff;
        display: block;
        background: #111;
    }

    .btn-burger-menu {
        display: flex;
        width: 60px;
        height: 60px;
        align-items: center;
        justify-content: center;
        background-color: #000;
        margin: 0 5px;
        cursor: pointer;
        border: none;
        overflow: hidden;
    }

    #menuImg {
        width: 60px;
        height: 60px;
    }

    #closeMenuImg {
        width: 60px;
        height: 60px;
    }

    .quote {
        font-family: Arial, Helvetica, sans-serif;
        color: #fff;
        font-size: 1.2rem;
    }

    .projecs-layout-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .project-box {
        min-width: 99vw;
        min-height: 49vh;
        margin: 6px;
    }

    .open-project {
        opacity: 1;
    }

    .project-title {
        font-size: 3vh;
    }

    .project-summary {
        font-size: 16px;
    }

    .about-topic {
        font-size: 22px;
    }

    .about-details {
        font-size: 14px;
    }

    .resumes-btns-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 0;
    }

}

/* @media end */